.container{
    display: flex;
    justify-content: space-between;
}

.button{
    width: 6.3rem;
    border: none;
    padding: 1rem;
    background-color: crimson;
    color: white;
    cursor: pointer;
}