.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.social{
    display: flex;
    gap: 10px;
    flex: 1;
}

.logo{
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 2.3rem;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: 1.3rem;
}

@media screen and (max-width: 1280px) {
    .logo{
        font-size: 2rem;
    }
    .links{
        font-size: 0.58rem;
        gap: 15px;
    }
    
}
@media screen and (max-width: 1024px) {
    .social{
        display: none;
    }
    .logo{
        text-align: left;
    }
    
}
@media screen and (max-width: 768px) {
    .logo{
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width: 640px) {
    .links{
        justify-content: flex-end;
    }
    .link{
        display: none;
    }
    
}

